<div class="loader" ng-if="loader"></div>
<div class="alert alert-danger" role="alert" ng-if="notification.msg">
  <span class="sr-only">Error:</span>
  {{notification.msg}}
</div>
<div ng-if='action === "list"'>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Brand Image Search</h2>
        <div class="col-sm-10 text-right marginBottom10">
          <div class="row">
            <div class="col-md-4">
              <div class="input-group width100">
                <div class="input-group-addon width50px"><span class="glyphicon glyphicon-search"></span></div>
                <select class="form-control pull-left" ng-model="sortFilter">
                  <option ng-repeat="brand in stubData.branding">{{brand.title}}</option>
                </select>
              </div>
            </div>
            <div class="input-group col-md-8">
              <input type="text" class="form-control pull-left" placeholder="Search to filter result" ng-model="searchFilter" placeholder="Amount">
            </div>
          </div>
        </div>
        <div class="col-sm-2 text-right marginBottom10" ng-if="userEmail">
          <button class="btn btn-primary" ng-click="changeAction('add')">Add Product</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row" ng-if='inventoryResp.brandData.length && searchFilter'>
          <div class="col-sm-6 col-md-4" ng-repeat='brand in inventoryResp.brandData | filter: sortFilter | filter: searchFilter'>
            <div class="thumbnail">
              <div class="thumbnailImgWrapper"><img ng-src='{{brand.imageSource[0]}}'></div>
              <div class="caption">
                <h3 class="marginBottom10 marginTop0"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> {{brand.itemName}}</h3>
                <strong class="marginBottom10 marginTop0"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> {{brand.brandName}}</strong>
                <p>{{brand.brandDescription}}</p>
              </div>
              <div class="actions">
                <button data-toggle="tooltip" title="view" class="btn glyphicon glyphicon-eye-open" ng-click="handleAction('view', brand)" aria-hidden="true"></button>
                <button data-toggle="tooltip" title="Edit" class="btn glyphicon glyphicon-pencil" ng-click="handleAction('editview', brand)" aria-hidden="true"></button>
                <button data-toggle="tooltip" title="Delete" class="btn glyphicon glyphicon-trash" ng-click="handleAction('delete', brand)" aria-hidden="true"></button>
              </div>
            </div>
          </div>
        </div>
        <h1 ng-if='inventoryResp.brandData.length === 0'>No Record Found...!</h1>
      </div>
    </div>
  </div>
</div>
<div ng-if='action !== "list"'>
	<form ng-submit="handleAction((action === 'editview'? 'edit' : action), brandDetails)" name="form" role="form">
		<div class="container">
			<div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="form-group col-sm-8">
              <h3 class="textCapitalize marginBottom10">{{action}} Photos</h3>
              <div class="input-group">
                <div class="pull-left" ng-if='brandDetails.imageSource.length !== 4 && action !== "view"'>
                  <input ng-model="images" type="file" class="form-control" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)">
                </div>
              </div>
              <p class="help-block" ng-if='brandDetails.imageSource.length === 4'>User can add maximum 4 images</p>
            </div>
          </div>
					<div class="row">
						<div class="col-xs-6 col-sm-3 selectedImages" ng-repeat='img in brandDetails.imageSource'>
              <span ng-if="action !== 'view'" ng-click="removeSelection($index)" class="deselectImg">&#10005;</span>
              <img width="100%" ng-src='{{img}}'/>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<h3 class="textCapitalize marginBottom10">{{action}} Details</h3>
          <div class="form-group">
            <label for="itemName">Item</label>
            <select ng-disabled="action === 'view'" class="form-control" id="itemName" ng-model="brandDetails.itemName">
              <option ng-repeat="brand in stubData.branding">{{brand.title}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="brandName">Brand Name</label>
            <input ng-disabled="action === 'view'" type="text" class="form-control" id="brandName" placeholder="Brand Name" ng-model="brandDetails.brandName">
          </div>
          <div class="form-group">
            <label for="brandDescription">Brand Description</label>
            <textarea ng-disabled="action === 'view'" type="text" class="form-control" id="brandDescription" placeholder="Brand Description" ng-model="brandDetails.brandDescription"></textarea>
          </div>
          <div>
            <input ng-if="action !== 'view'" class="pull-left btn btn-primary" type="submit" id="submit" value="Submit"/>
            <span class="pull-right btn btn-secondary" ng-click="closeForm('list')">Cancel</span>
          </div>
				</div>
			</div>
    </div>
  </form>
</div>
