<html ng-app="skWholesale" ng-controller="MainCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="favicon.ico" rel="icon" />
    <title>SKS Wholesale :: Admin Portal Brands Management</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <section>
        <div class="navbar-wrapper">
          <div class="container">
            <div class="navbar navbar-fixed-top" id="id-navigation" role="navigation">
              <div class="containwrapper"></div>
              <div class="container">
                <div class="navbar-header">
                  <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" ng-click="handleMobileNav()" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span></span>
                  </button>
                  <a class="navbar-brand">{{inventoryResp.title}}</a></div>
                <div ng-class="mobileNavClass ? 'navbar-collapse collapse in' : 'navbar-collapse collapse'">
                  <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="link in inventoryResp.adminNavLinks"><a ng-class="checkForActiveNag(link.navTitle, activePage) ? 'active' : ''" ng-click="handlePageChange(link.navTitle)">{{link.navTitle}}</a></li>
                    <li>
                      <div ng-class="userProfile ? 'dropdown open' : 'dropdown'">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" ng-click="toggleUserProfile()">
                          User Profile <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>{{userEmail}}</li>
                          <li ng-click="logout()">Logout</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container">
      <div class="row" ng-if="activePage === 'Dashboard'"><dashboard activepage="activePage"></dashboard></div>
      <div class="row" ng-if="activePage === 'Products'"><products></products></div>
      <div class="row" ng-if="activePage === 'Inventory'"><inventory></inventory></div>
      <div class="row" ng-if="activePage === 'Sales'"><sales></sales></div>
      </section>
      <footer class="text-center">&copy; 2020 SKS Wholesale All rights reserved</footer>
    </div>
    <script src="./js/angular.min.js" data-semver="1.5.10"></script>
    <script src="./js/script.js"></script>
    <script src="./component/dashboard/dashboard.js"></script>
  </body>
</html>
